In [107]:
import numpy as np
import pandas as pd
import pickle

In [108]:
Books = pickle.load(open('./comp_books.pkl','rb'))
Ratings = pd.read_csv('./datasets/Ratings.csv')
Users= pd.read_csv('./datasets/Users.csv')
Books.head()

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L
5,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
18,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
26,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
27,0345402871,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...

In [109]:
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [110]:
len(np.where(Ratings['Book-Rating']==0)[0])

716109

In [111]:
filter = Ratings[Ratings["Book-Rating"]==0].index 
Ratings.drop(filter,inplace=True)
len(np.where(Ratings['Book-Rating']==0)[0])

0

In [112]:
Users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [113]:
Books.shape

(2501, 5)

In [114]:
filter = Books[~(Books['ISBN'].isin(Ratings['ISBN']))].index
Books.drop(filter,inplace=True)
Books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2082 entries, 5 to 271169
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ISBN         2082 non-null   object
 1   Book-Title   2082 non-null   object
 2   Book-Author  2082 non-null   object
 3   Image-URL-M  2082 non-null   object
 4   Image-URL-L  2082 non-null   object
dtypes: object(5)
memory usage: 97.6+ KB

In [115]:
Books.shape

(2082, 5)

In [116]:
t = Ratings[Ratings['ISBN'].isin(Books[Books['Book-Title']=='1984']['ISBN'])]
t['Book-Rating'].mean()

8.784722222222221

In [134]:
avg_ratings = Ratings.groupby('ISBN').agg(avg_rating=('Book-Rating','mean')).reset_index()
avg_ratings[avg_ratings['ISBN']=='04515249']
# x

Empty DataFrame
Columns: [ISBN, avg_rating]
Index: []

In [118]:
Books[Books['Book-Title']=='1984']['ISBN']

2104      0451524934
8226      0451519841
12765     0452262933
45376     0151660387
55611     848328006X
63218     207036822X
65343     8423328651
100698    B00006H3BO
Name: ISBN, dtype: object

In [119]:
Books = Books.merge(avg_ratings,on='ISBN')

In [120]:
Books.head()

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L,avg_rating
0,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,8.176471
1,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,7.704142
2,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,7.772152
3,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,4.390706
4,0345402871,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,7.455696

In [122]:
pickle.dump(Books,open('comp_books.pkl','wb'))

In [132]:
ratings_count = Ratings.groupby('ISBN').agg(num_ratings=('Book-Rating','count')).reset_index()
filtered_ratings_count = ratings_count[ratings_count['num_ratings']>50]

In [138]:
Books = Books.merge(filtered_ratings_count,on='ISBN')

NameError: name 'filtered_ratings_count' is not defined

In [135]:
Books[Books['Book-Title']=='The Fellowship of the Ring (The Lord of the Rings, Part 1)']

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L,avg_rating
237,0345339703,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,http://images.amazon.com/images/P/0345339703.0...,8.839695
934,0618002227,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/0618002227.0...,http://images.amazon.com/images/P/0618002227.0...,9.093023
1021,0618129030,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/0618129030.0...,http://images.amazon.com/images/P/0618129030.0...,9.066667
1261,061826051X,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/061826051X.0...,http://images.amazon.com/images/P/061826051X.0...,8.000000
1362,0395489318,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/0395489318.0...,http://images.amazon.com/images/P/0395489318.0...,8.800000
1731,0618260269,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/0618260269.0...,http://images.amazon.com/images/P/0618260269.0...,8.200000
1784,0618346252,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/0618346252.0...,http://images.amazon.com/images/P/0618346252.0...,9.000000
1823,1565116674,The Fellowship of the Ring (The Lord of the Ri...,J. R. R. Tolkien,http://images.amazon.com/images/P/1565116674.0...,http://images.amazon.com/images/P/1565116674.0...,5.000000
1851,0618153985,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,http://images.amazon.com/images/P/0618153985.0...,http://images.amazon.com/images/P/0618153985.0...,9.666667