In [107]:
import numpy as np
import pandas as pd
import pickle

In [108]:
Books = pickle.load(open('./comp_books.pkl','rb'))
Ratings = pd.read_csv('./datasets/Ratings.csv')
Users= pd.read_csv('./datasets/Users.csv')
Books.head()

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L
5,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
18,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
26,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
27,0345402871,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...

In [109]:
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [110]:
len(np.where(Ratings['Book-Rating']==0)[0])

716109

In [111]:
filter = Ratings[Ratings["Book-Rating"]==0].index 
Ratings.drop(filter,inplace=True)
len(np.where(Ratings['Book-Rating']==0)[0])

0

In [112]:
Users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [113]:
Books.shape

(2501, 5)

In [114]:
filter = Books[~(Books['ISBN'].isin(Ratings['ISBN']))].index
Books.drop(filter,inplace=True)
Books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2082 entries, 5 to 271169
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ISBN         2082 non-null   object
 1   Book-Title   2082 non-null   object
 2   Book-Author  2082 non-null   object
 3   Image-URL-M  2082 non-null   object
 4   Image-URL-L  2082 non-null   object
dtypes: object(5)
memory usage: 97.6+ KB

In [115]:
Books.shape

(2082, 5)

In [116]:
t = Ratings[Ratings['ISBN'].isin(Books[Books['Book-Title']=='1984']['ISBN'])]
t['Book-Rating'].mean()

8.784722222222221

In [134]:
avg_ratings = Ratings.groupby('ISBN').agg(avg_rating=('Book-Rating','mean')).reset_index()
avg_ratings[avg_ratings['ISBN']=='04515249']
# x

Empty DataFrame
Columns: [ISBN, avg_rating]
Index: []

In [118]:
Books[Books['Book-Title']=='1984']['ISBN']

2104      0451524934
8226      0451519841
12765     0452262933
45376     0151660387
55611     848328006X
63218     207036822X
65343     8423328651
100698    B00006H3BO
Name: ISBN, dtype: object

In [119]:
Books = Books.merge(avg_ratings,on='ISBN')

In [120]:
Books.head()

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L,avg_rating
0,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,8.176471
1,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,7.704142
2,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,7.772152
3,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,4.390706
4,0345402871,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,7.455696

In [122]:
pickle.dump(Books,open('comp_books.pkl','wb'))

In [139]:
ratings_count = Ratings.groupby('ISBN').agg(num_ratings=('Book-Rating','count')).reset_index()
filtered_ratings_count = ratings_count[ratings_count['num_ratings']>50]

In [140]:
Books = Books.merge(filtered_ratings_count,on='ISBN')

In [142]:
Books[Books['Book-Title']=='1984']

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L,avg_rating,num_ratings
183,0451524934,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,http://images.amazon.com/images/P/0451524934.0...,8.772277,101

In [143]:
pickle.dump(Books,open('comp_books.pkl','wb'))

In [148]:
pt = pickle.load(open('../backend/res/pt.pkl','rb'))
Books[~Books['Book-Title'].isin(pt.index)]
#all books are in both pivot table and books df not error should occur

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L,avg_rating,num_ratings
0,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,7.704142,169
1,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,7.772152,79
2,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,4.390706,581
3,0345402871,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,7.455696,79
4,0345417623,Timeline,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,7.851282,195
...,...,...,...,...,...,...,...
428,0446611085,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0446611085.0...,http://images.amazon.com/images/P/0446611085.0...,7.666667,69
429,0515126772,Jewels of the Sun (Irish Trilogy),Nora Roberts,http://images.amazon.com/images/P/0515126772.0...,http://images.amazon.com/images/P/0515126772.0...,7.968254,63
430,0449219461,H Is for Homicide (Kinsey Millhone Mysteries (...,Sue Grafton,http://images.amazon.com/images/P/0449219461.0...,http://images.amazon.com/images/P/0449219461.0...,7.750000,52
431,0446606189,Cat &amp; Mouse (Alex Cross Novels),James Patterson,http://images.amazon.com/images/P/0446606189.0...,http://images.amazon.com/images/P/0446606189.0...,8.000000,77
432,0345444884,The Talisman,STEPHEN KING,http://images.amazon.com/images/P/0345444884.0...,http://images.amazon.com/images/P/0345444884.0...,8.211538,52

In [152]:
Books.sort_values(by='avg_rating',ascending=False)
#proof that books df can also be used for the top50 api request as well

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L,avg_rating,num_ratings
281,0345339738,"The Return of the King (The Lord of the Rings,...",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339738.0...,http://images.amazon.com/images/P/0345339738.0...,9.402597,77
320,0439139597,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,9.262774,137
391,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,9.207547,53
90,0345339711,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,http://images.amazon.com/images/P/0345339711.0...,9.120482,83
350,0439136369,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,9.082707,133
...,...,...,...,...,...,...,...
367,031298328X,Full Tilt (Janet Evanovich's Full Series),Janet Evanovich,http://images.amazon.com/images/P/031298328X.0...,http://images.amazon.com/images/P/031298328X.0...,6.568627,51
138,0140244824,Songs in Ordinary Time (Oprah's Book Club (Pap...,Mary McGarry Morris,http://images.amazon.com/images/P/0140244824.0...,http://images.amazon.com/images/P/0140244824.0...,6.530303,66
260,0451203895,4 Blondes,Candace Bushnell,http://images.amazon.com/images/P/0451203895.0...,http://images.amazon.com/images/P/0451203895.0...,5.653846,52
8,0425182908,Isle of Dogs,Patricia Cornwell,http://images.amazon.com/images/P/0425182908.0...,http://images.amazon.com/images/P/0425182908.0...,5.338028,71
2,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,4.390706,581

In [162]:
scores = pickle.load(open('../backend/res/scores.pkl','rb'))
books=Books

In [171]:
#testing reccomendation api
def reccomendations_api():
    book_name=''
    if len(np.where(pt.index==book_name)[0])==0:
        return jsonify({'status':0,'books':[]}),200
    
    idx = np.where(pt.index==book_name)[0][0]
    items = sorted(list(enumerate(scores[idx])),key = lambda x:x[1],reverse=True)[1:20]
    data=[]
    for i in items:            
        item=[]
        temp = books[books['Book-Title']==pt.index[i[0]]]
        item.extend(list(temp.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp.drop_duplicates('Book-Title')['Book-Author'].values))       
        item.extend(list(temp.drop_duplicates('Book-Title')['Image-URL-L'].values))
        data.append(item)
    res = []
    # return jsonify(data),200
    for i in data:
        if len(i)==0:
            continue
        res.append({'Book-title':i[0],
                    'Book-author':i[1],
                    'Image-URL-M':i[2],
                    })
    print(len(res))
reccomendations_api()
#fixed reccomendation api by putting len(i)==0 pass if statement to prevent outofbounds error\

8