In [63]:
import numpy as np
import pandas as pd
import pickle

In [64]:
Books = pickle.load(open('./comp_books.pkl','rb'))
Ratings = pd.read_csv('./datasets/Ratings.csv')
Users= pd.read_csv('./datasets/Users.csv')
Books.head()

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L
5,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
18,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
19,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...
26,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
27,0345402871,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...

In [65]:
Ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [66]:
len(np.where(Ratings['Book-Rating']==0)[0])

716109

In [67]:
filter = Ratings[Ratings["Book-Rating"]==0].index 
Ratings.drop(filter,inplace=True)
len(np.where(Ratings['Book-Rating']==0)[0])

0

In [68]:
Users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [69]:
Books.shape

(2501, 5)

In [70]:
filter = Books[~(Books['ISBN'].isin(Ratings['ISBN']))].index
Books.drop(filter,inplace=True)
Books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2082 entries, 5 to 271169
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ISBN         2082 non-null   object
 1   Book-Title   2082 non-null   object
 2   Book-Author  2082 non-null   object
 3   Image-URL-M  2082 non-null   object
 4   Image-URL-L  2082 non-null   object
dtypes: object(5)
memory usage: 97.6+ KB

In [71]:
Books.shape

(2082, 5)

In [72]:
t = Ratings[Ratings['ISBN'].isin(Books[Books['Book-Title']=='1984']['ISBN'])]
t['Book-Rating'].mean()

8.784722222222221

In [98]:
avg_ratings = Ratings.groupby('ISBN').agg(avg_rating=('Book-Rating','mean'))
avg_ratings[avg_ratings.index=='0451524934']
# x

Empty DataFrame
Columns: [ISBN, avg_rating]
Index: []

In [93]:
Books[Books['Book-Title']=='1984']['ISBN']

2104      0451524934
8226      0451519841
12765     0452262933
45376     0151660387
55611     848328006X
63218     207036822X
65343     8423328651
100698    B00006H3BO
Name: ISBN, dtype: object

In [97]:
avg_ratings['index']

KeyError: 'index'

In [95]:
Books = pd.merge(books,avg_ratings,on=['ISBN'])

In [96]:
Books.head()

,ISBN,Book-Title,Book-Author,Image-URL-M,Image-URL-L,avg_rating_x,avg_rating_y
0,0399135782,The Kitchen God's Wife,Amy Tan,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,8.176471,8.176471
1,0440234743,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,7.704142,7.704142
2,0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison,http://images.amazon.com/images/P/0452264464.0...,http://images.amazon.com/images/P/0452264464.0...,7.772152,7.772152
3,0971880107,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,4.390706,4.390706
4,0345402871,Airframe,Michael Crichton,http://images.amazon.com/images/P/0345402871.0...,http://images.amazon.com/images/P/0345402871.0...,7.455696,7.455696